[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytube = {editable = true, git = "https://github.com/pytube/pytube.git"}
pyside6 = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.10"
